@{
    ViewData["Title"] = "Home";
   
}

<div class="text-center">
    <h1 class="display-4">Conheça nossos projetos</h1>
    <p>
        Fundada há 26 anos, a Recode está em 9 países com mais de 1.000 centros de empoderamento digital já atingiu
        mais de 1.8 milhões de pessoas. Atuamos em parceria com centros comunitários, escolas públicas  e biblotecas,
        que oferecem nossa metodologia para desenvolver nos jovens habilidades digitais e competências socioemocionais,
        estimulando o protagonismo e o potencial da nova geração como agentes de transformação social.
    </p>

    
</div>
